.idea
.vscode
vendor
card
api
!pkg/api
!card/
debug
configs/dev.toml
configs/test.toml
.DS_Store
goose
migrate
migrations
storage
coverage.out
migrations/migrations
bin/*
.devspace

build/*
!build/.keep